.container {
  margin-top: 4rem;
  margin-bottom: 2rem;
  height: 400px;
  width: 100%;
}

.actionsHeader, .actionLinks  {
  display: flex;
  height: 52px;
}
.actionsHeader span.material-icons,
.actionLinks span.material-icons {
  margin: 1rem 0.4rem;
}

.MuiDataGrid-root .MuiDataGrid-columnSeparator {
  display: none !important;
}
