.container {
  margin-top: 4rem;
  margin-bottom: 2rem;
  height: 400px;
  width: 100%;
}

.actionsHeader {
  height: 100%;
  vertical-align: middle;
}

.actionLinks {
  height: 100%;
  vertical-align: middle;
}

.MuiDataGrid-root .MuiDataGrid-columnSeparator {
  display: none !important;
}
