.no-print, .no-print * {
  display: none !important;
}

.to-print {
  display: flex;
  justify-content: center;
}

.label-100x150 {
  flex-direction: column;
  display: flex;
  justify-content: center;
  margin: 1.5mm 3mm;
  border-radius: 1mm;
  width: 100mm;
  height: 150mm;
  border: 1px gray dotted;
}

.label-data {
  margin: 1.5mm 3mm;
  font-family: Arial;
  font-size: 18px;
}

#qr {
  width: 80mm;
  margin: auto;
  /* El borde es solo para el debug */
  border: solid 1px gray;
}
