.material-icons.md-18 {
  font-size: 18px;
}

.full-width {
  width: 100%;
}

.row {
  width: 100%;
  display: flex;
}

.row .spacer {
  width: 100%;
}


.up-item-icon {
  margin: 0 1rem auto;
}

.product .mdl-chip {
  margin: 1rem 1rem 0 0;
}
